$gray-bg: #f5f9fa;
$white-1: #fcfcfc;
$gray-1: #bfcdd0;
$light-blue-1: #e7f0f2;
$text-secondary: #626262;
$blue-accent: #19b2bd;
$blue-secondary-overlay: #f0f7f7;
$text-primary: #404040;
$blue-primary-overlay: #e0ebee;
$black-1: #222222;
