@import "../../../assets/styles/mediaQueries";
@import "../../../assets/styles/colors";

.board-container {
  font-family: "Secular One", sans-serif;
  &__title{
    margin: 2rem 0 2rem 0;
    font-size: 20px;
    font-family: "Secular One", sans-serif;
  }
  &__boards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
