@import "../../../assets/styles/colors";
@import "../../../assets/styles/mediaQueries";

@keyframes bgrandom {
    0% { background: linear-gradient(90deg, rgba(255,255,255,0.98) 50%, rgba(255,255,255,0.96) 0%); }
    50% { background: linear-gradient(90deg, rgba(255,255,255,0.98) 50%, rgba(255,255,255,0.96) 0%); }

    55% { background: linear-gradient(90deg,  rgba(255,255,255,0.96) 50%, rgba(255,255,255,0.98) 0%); }
    80% { background: linear-gradient(90deg, rgba(255,255,255,0.96)  50%, rgba(255,255,255,0.98) 0%); }

    85% { background: linear-gradient(90deg, rgba(255,255,255,0.96) 50%, rgba(255,255,255,0.94) 0%); }
    100% { background: linear-gradient(90deg, rgba(255,255,255,0.96) 50%, rgba(255,255,255,0.94) 0%); }
    }


.task-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow-x: hidden;

  &--active {
    background: mix($blue-accent, $blue-primary-overlay, 10%);
  }

  &__add-btn {
    margin: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    user-select: none;
    color: white;
    text-align: center;
    &:hover {
      background-color: rgba(138, 136, 136, 0.9);
      color: black;
    }
  }

  &__header {
    background-color: #a2622d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    height: 40px;

    &__more-options {
      border: none;
      font-family: "Secular One", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0 3px;
      border-radius: 5px;
      background-color: transparent;
      svg {
        $icon-size: 1.2rem;
        width: $icon-size;
        height: $icon-size;
      }
    }
  }

  &__container {
    width: 21rem;
		overflow-y: auto;
    max-height: 52vh;
    text-align: center;
  }
}